# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
numpy
glob2
PySide2<5.15.0
scikit-surgerycalibration
scikit-surgerycore>=0.6.8
scikit-surgeryutils
scikit-surgeryvtk
scikit-surgeryarucotracker>=0.2.4
opencv-contrib-python
#scikit-surgeryspeech>=0.2.0 #uncomment this to use speech interface
#PocketSphinx # uncomment this to use speech with sphinx
